body,
html {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background-color: $white;
    color: $text;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1450px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

input {
    transition: border 0.3s linear, background-color 5000s ease-in-out;
    border-radius: 0;

    
}

.bg-effect {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        max-width: 710px;
        width: 100%;
        height: 346px;
        right: 50px;
        background-repeat: no-repeat;
        background-image: url('../images/hero-bg-effect.png');
        background: linear-gradient(98.24deg, #6DDCFF 0%, #7F60F9 100%);
        filter: blur(105px);
        z-index: 1;
    }
}

.button__arrow {
    position: relative;
    padding: 0 50px 5px 0;
    overflow: hidden;

    &::after {
        position: absolute;
        content: '';
        width: 160px;
        height: 8px;
        transform: translateX(-100px);
        left: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-image: url('../images/icons/arrow-btn.svg');
        transition: transform .5s linear;
    }

    &:hover::after {
        transform: translateX(0);
        @include mxw($sm) {
            transform: translate(-60px);
        }
    }

    @include mxw($sm) {
        font-size: 16px;
        line-height: 18px;
    }
    @include mxw($xs) {
        font-size: 12px;
        line-height: 15px;
    }
}

.title {
    position: relative;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    color: $title;
    padding-left: 20px;

    &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 45px;
        left: 5px;
        top: 17px;
        background-color: $accent;
        box-shadow: 0px 0px 6px 4px rgba(92, 177, 255, 1);
        border-radius: 4px;
    }
}

.tab-item {
    max-height: 0;
    transform: scale(0);
    transition: transform .7s ease-in-out, max-height .6s linear, padding .4s linear;

    &.active {
        transform: scale(1);
        max-height: 1000px;

        p {
            margin-bottom: 20px;
        }
    }
}

.hover__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 17px 28px;
    position: relative;
    margin-right: 80px;

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: -3px;
        background-image: url('../images/sprite.svg#ellipse-btn');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 160px 154px;
        transition: transform .3s linear;
    }

    &::after {
        transform: rotate(1deg);
    }

    &::before {
        transform: rotate(-7deg);
    }

    &:hover {
        &::after,
        &::before {
            transform: rotate(-2deg);
        }
    }

}

.social {
    &__icons {
        position: relative;
        width: 45px;
        height: 45px;
        background-color: $white;
        border-radius: 50%;
        transition: box-shadow .5s linear;

        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &--inst::after {
            background-image: url('../images/sprite.svg#inst-contact');
        }

        &--up::after {
            background-image: url('../images/sprite.svg#contacts-up');
        }

        &:hover {
            box-shadow: 0px 0px 123.5px $white,
                0px 0px 70.5713px $white,
                0px 0px 41.1666px $white,
                0px 0px 20.5833px $white,
                0px 0px 5.88094px $white,
                0px 0px 2.94047px $white;
        }
    }
}

