.contacts {
    margin-bottom: 150px;

    &__title {
        margin-bottom: 120px;
    }

    &__wrapper {
        display: flex;
    }

    &__content {
        max-width: 1167px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        border-right: 1px;
    }

    &__info {
        max-width: 653px;
        width: 100%;
        margin-right: 20px;
    }

    &__decoration {
        width: 100%;
        display: block;
        position: relative;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;

        &::after {
            content: '';
            position: absolute;
            width: 350px;
            height: 8px;
            right: 100px;
            top: 5px;
            background-image: url('../images/sprite.svg#contact-arrow');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__text {
        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        margin-bottom: 80px;
    }

    &__form {
        max-width: 480px;
        width: 100%;
    }

    &__form-name {
        display: block;
        margin-bottom: 45px;

        &:last-of-type {
            margin-bottom: 35px;

            .contacts__form-side {
                width: 100%;
            }
        }
    }

    &__form-side {
        display: block;
        width: 90%;
        border-bottom: 1px solid $border;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        &::placeholder {
            opacity: 0.5;
        }
    }

    &__services {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-right: 25px;
    }

    &__services-btn {
        position: relative;
        width: 38px;
        height: 38px;
        background-color: $accent;
        border-radius: 50%;
        margin-bottom: 35px;
        transform: translateY(-5px);
        box-shadow: 0px 0px 191.52px $accent,
            0px 0px 109.44px $accent,
            0px 0px 63.84px $accent,
            0px 0px 31.92px $accent,
            0px 0px 9.12px $accent,
            0px 0px 4.56px $accent;
        transition: .5s transform;


        &::after {
            content: '';
            position: absolute;
            height: 22px;
            width: 6px;
            top: 9px;
            left: 16px;
            background-image: url('../images/sprite.svg#services-arrow');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &.active {
            transform: translateY(-5px) rotate(180deg);
        }
    }

    &__filter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;

    }

    &__item {
        display: inline-block;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;

        span {
            display: block;
        }
    }

    &__variant {
        @extend %radio-hidden;

        &:checked {
            &+.contacts__checkbox {
                box-shadow: 0 0 10px 3px $accent;

                &::after {
                    content: '';
                    opacity: 1;
                }
            }
        }
    }

    &__checkbox {
        position: relative;
        width: 16px;
        height: 16px;
        cursor: pointer;
        border: 1px solid $border;
        margin-right: 10px;
        border-radius: 50%;
        transition: box-shadow .5s linear;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $accent;
            opacity: 0;
            transition: opacity .5s ease-in-out;
        }
    }

    &__btn {
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__submit {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-right: 30px;

        &:hover::after {
            transform: translateX(-60px);
        }
    }

    &__privacy {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
        margin-bottom: 5px;
    }

    &__location {
        display: flex;
        width: 100%;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
    }

    &__location-card {
        margin-right: 100px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__text-title,
    &__location-title {
        display: block;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 15px;
    }

    &__text-title {
        position: relative;
        padding-left: 10px;

        &::after {
            content: '';
            position: absolute;
            width: 3px;
            height: 45px;
            left: -2px;
            top: -8px;
            background-color: $accent;
            box-shadow: 0px 0px 173.88px #5CB1FF,
                0px 0px 99.36px #5CB1FF,
                0px 0px 57.96px #5CB1FF,
                0px 0px 28.98px #5CB1FF,
                0px 0px 8.28px #5CB1FF,
                0px 0px 4.14px #5CB1FF;
        }
    }

    &__location-link {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $border;
    }

    &__inst {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: url('../images/sprite.svg#inst-contact');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__us {
        max-width: 250px;
        width: 100%;
        border-left: 1px solid $border;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__link,
    &__time {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $border;
        margin-bottom: 7px;
        padding-left: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__social {
        margin-left: 10px;
        display: inline-block;
        width: 43px;
        height: 43px;
        background-image: url('../images/sprite.svg#contacts-up');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}