.footer {
    padding: 30px 0 15px;
    background-color: $footer-bg;
    color: $white;
}

.footer-top {
    position: relative;

    @include mxw($xs) {
        padding-bottom: 20px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 40px;
       
        @include mxw($xs) {
            margin-bottom: 10px;
            padding-left: 5px;
            justify-content: space-between;
        }
    }

    &__box {
        margin-right: 20px;
        max-width: 850px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include mxw($md) {
            flex-direction: column;
            max-width: 550px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 305px;
        width: 100%;

        @include mxw($xs) {
            max-width: 160px;
        }
    }

    &__logo {

        @include mxw($xs) {
            margin-bottom: 10px;
            display: block;
        }

        img {
            width: 277px;
            height: 85px;
            object-fit: cover;

            @include mxw($md) {
                width: 131px;
                height: 45px;
            }
        }
    }



    &__social {
        max-width: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        order: 1;

        @include mxw($md) {
            order: 2;
        }

        @include mxw($xs) {
            max-width: 80px;
        }
    }

    &__social-link {
        @include mxw($xs) {
            &::after {
                width: 22px;
            }
        }
    }

    &__location {
        order: 2;

        @include mxw($md) {
            order: 1;
            margin-bottom: 30px;
        }
    }

    &__location-link {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;

        span {
            padding-top: 15px;
            display: block;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

        }

        @include mxw($md) {
            text-align: left;

            span {
                font-size: 14px;
            }
        }

        @include mxw($xs) {
            font-size: 14px;
            line-height: 16px;

            span {
                font-size: 12px;
            }
        }
    }

    .navigation {
        margin-right: 20px;

        @include mxw($xs) {
            display: none;
        }

        &__item {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__link {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__contact {
        @include mxw($md) {
            min-height: 170px;
        }
    }

    &__contact-title {
        width: 170px;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 16px;

        @include mxw($xs) {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &__contact-link {
        margin-bottom: 7px;
        display: block;

        &:nth-child(3) {
            margin-bottom: 25px;
        }
    }

    &__contact-link,
    &__contact-time {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        @include mxw($md) {
            font-size: 13px;
            line-height: 16px;
        }
    }
}

.footer-bottom {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__developer {
        margin-right: 10px;
        transform: translateX(10px);

        @include mxw($md) {
            transform: translateY(0);
        }

        @include mxw($xs) {
            font-size: 6px;
        }
    }

    &__copyright {
        margin-right: 10px;
        text-align: center;
        transform: translateX(-110px);

        span {
            display: block;
        }

        @include mxw($md) {
            transform: translateY(0);
        }

        @include mxw($xs) {
            font-size: 6px;
        }
    }

    &__policy {
        margin-right: 10px;
        transform: translateX(-120px);
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;

        @include mxw($md) {
            transform: translateY(0);
        }

        @include mxw($sm) {
            font-size: 10px;
        }
    }
}