.footer {
    padding: 30px 15px 15px 15px;
    background-color: $footer-bg;
    color: $white;
    min-height: 409px;
}

.footer-top {
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: translate(-10px, -50px);
    }

    &__box {
        max-width: 850px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        img {
            width: 277px;
            height: 85px;
            object-fit: cover;
        }
    }



    &__social {
        max-width: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__location-link {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;

        span {
            padding-top: 15px;
            display: block;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }

    .navigation {
        margin-right: 10px;

        &__item {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__link {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__contact {
        transform: translateY(-50px);
    }

    &__contact-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 16px;
    }

    &__contact-link {
        margin-bottom: 7px;
        display: block;

        &:nth-child(3) {
            margin-bottom: 25px;
        }
    }

    &__contact-link,
    &__contact-time {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}

.footer-bottom {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__developer {
        transform: translateX(10px);
    }

    &__copyright {
        text-align: center;
        transform: translateX(-110px);
        span {
            display: block;
        }

        @include mxw($lg) {
            // transform: translateX(-156px);
        }
    }

    &__policy {
        transform: translateX(-120px);
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }
}