.form-help {
    padding-bottom: 150px;

    @include mxw($md) {
        padding-bottom: 100px;
    }

    @include mxw($sm) {
        padding-bottom: 50px;
    }

    &__title {
        transform: translateX(20px);
        margin-bottom: 56px;

        @include mxw($sm) {
            transform: translateX(0);
        }
    }

    &__form {
        width: 100%;
        transform: translateX(20px);

        @include mxw($sm) {
            transform: translateX(0);
        }
    }

    &__form-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        @include mxw($xs) {
            margin-bottom: 30px;
        }
    }

    &__form-name {
        margin-bottom: 44px;

        @include mxw($xs) {
            margin-bottom: 30px;
        }

        &:nth-child(1) {
            max-width: 524px;

            @include mxw($md) {
                margin-right: 180px;
            }
        }

        &:nth-child(2) {
            max-width: 700px;

            @include mxw($md) {
                margin-right: 160px;
            }
        }

        &:nth-child(3) {
            max-width: 895px;

            @include mxw($md) {
                margin-right: 100px;
            }
        }

        &:nth-child(4) {
            max-width: 1174px;
            margin-bottom: 0;

            @include mxw($md) {
                margin-right: 10px;
            }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            @include mxw($sm) {
                max-width: 100%;
                margin-right: 0;
            }
        }
    }

    &__form-side {
        border-bottom: 1px solid $border;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        width: 100%;

        @include mxw($xs) {
            font-size: 10px;
            line-height: 12px;
        }
    }

    &__privacy {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
        margin-bottom: 5px;

        @include mxw($md) {
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__variant {
        @extend %radio-hidden;

        &:checked {
            &+.form-help__checkbox {

                &::after {
                    content: '';
                    opacity: 1;
                }
            }
        }
    }

    &__checkbox {
        position: relative;
        width: 16px;
        height: 16px;
        cursor: pointer;
        border: 1px solid $border;
        margin-right: 10px;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $border;
            opacity: 0;
            transition: opacity .5s ease-in-out;
        }
    }

    &__buttons {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include mxw($vlg) {
            transform: translateX(100px);
        }

        @include mxw($md) {
            transform: translateX(0);
        }
    }

    &__danger {
        position: absolute;
        display: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: red;
        top: 60px;
        left: 0;

        @include mxw($lg) {
            top: 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

        @include mxw($md) {
            font-size: 10px;
            line-height: 12px;
        }
    }

    &__submit {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-right: 30px;

        &:hover::after {
            transform: translateX(-60px);
        }

        @include mxw($lg) {
            font-size: 12px;
            line-height: 15px;
        }
    }
}