.popup-form {
    position: absolute;
    width: 772px;
    height: 338px;
    padding: 24px;
    border-radius: 5px;
    background-color: #212121;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: -50%;

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 192px;
        height: 101px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        left: 0;
        top: 0;
        background-image: url('../images/popup-efect-head.png');
    }

    &::before {
        width: 181px;
        height: 68px;
        bottom: 0;
        right: 0;
        background-image: url('../images/popup-efect-footer.png');
    }

    &__close-btn {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 25px;
        top: 25px;

        &::after,
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 25px;
            top: 12px;
            left: 0;
            background-color: $white;
            transform: rotate(40deg);
        }

        &::before {
            transform: rotate(-40deg);
        }
    }

    &__fixed {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 20;
        background: rgba(58, 58, 58, 0.7);
        transition: opacity 350ms;
        opacity: 1;
        z-index: 10000;
        display: block;
    }

    &__logo {
        position: relative;
        margin-bottom: 67px;
        z-index: 1;
    }

    &__text {
        max-width: 554px;
        margin-bottom: 37px;
    }

    &__navigation {
        display: flex;
    }

    &__social {
        width: 100px;
        height: 45px;
        display: flex;
        margin-right: 90px;
        transform: translateY(20px);

        a {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__contact {
        margin-right: 80px;

        a {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 7px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        display: block;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 16px;
    }

    &__time-span {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        span {
            display: inline-block;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

    }
}