.reviews {
    padding-bottom: 150px;

    &__title {
        margin-bottom: 195px;
    }

    &__center {
        display: flex;
        justify-content: center;
    }

    .swiper-container {
        position: relative;
        width: 1095px;
        height: 486px;
        padding: 30px 86px;
        background-color: #222;
        border-radius: 20px;
    }

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 2s ease-in-out;
    }

    .swiper-slide-active {
        opacity: 1;
    }

    &__arrows {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        background-color: $accent;
        z-index: 10;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0px 0px 287.28px #5CB1FF,
            0px 0px 164.16px #5CB1FF,
            0px 0px 95.76px #5CB1FF,
            0px 0px 47.88px #5CB1FF,
            0px 0px 13.68px #5CB1FF,
            0px 0px 6.84px #5CB1FF;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 10px;
                background-image: url('../images/sprite.svg#arrow');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
    }

    .swiper-button-prev {
        left: -116px;

        &::after {
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }

    .swiper-button-next {
        right: -116px;
    }

    &__swiper-box {
        margin-bottom: 20px;
    }

    &__swiper-name {
        color: #fff;
        font-weight: 400;
        text-shadow: 0px 0px 260.82px #fff,
            0px 0px 149.04px #fff;

        span {
            display: block;
            font-weight: 400;
            font-size: 17px;
            line-height: 21px;
        }
    }

    &__swiper-img {
        position: absolute;
        top: -132px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__swiper-text {
        p {
            padding-left: 25px;
            color: #fff;
            margin-bottom: 20px;
        }
    }
}