.reviews {
    padding-bottom: 150px;

    &__title {
        margin-bottom: 90px;
    }

    &__swiper {
        max-width: 1148px;
        border-radius: 30px;
        padding: 100px 30px 0 30px;
        position: relative;
    }

    &__swiper-item {
        position: relative;
        max-width: 918px;
        min-height: 400px;
        background-color: #222;
        border-radius: 20px;
        padding: 30px 86px;
    }

    &__swiper-box {
        margin-bottom: 20px;
    }

    &__swiper-name {
        color: $white;
        font-weight: 400;
        text-shadow: 0px 0px 260.82px $white,
            0px 0px 149.04px $white,
            0px 0px 86.94px $white,
            0px 0px 43.47px $white,
            0px 0px 12.42px $white,
            0px 0px 6.21px $white;

        span {
            display: block;
            font-weight: 400;
            font-size: 17px;
            line-height: 21px;
        }
    }

    &__swiper-img {
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__swiper-text {
        p {
            padding-left: 25px;
            color: $white;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__swiper-arrows {
        position: absolute;
        width: 100%;
        top: 53%;
        z-index: 10;
    }

    &__swiper-arrow {
        position: absolute;
        background-color: $white;
        border: 3px solid $accent;
        width: 57px;
        height: 57px;
        border-radius: 50%;
        transition: background-color .4s linear;

        &::after {
            content: '';
            position: absolute;
            width: 60px;
            height: 8px;
            top: 23px;
            left: -3px;
            background-color: $accent;
            mask-image: url('../images/sprite.svg#arrow');
            mask-size: 40px 40px;
            mask-position: center;
            mask-repeat: no-repeat;
            transition: background-color .4s linear;
        }

        &:hover {
            background-color: $accent;
            &::after {
                background-color: $white;
            }
        }
    }

    .swiper-button-next {
        left: -28px;

        &::after {
            transform: rotate(180deg);
        }
    }

    .swiper-button-prev {
        right: 30px;
    }


}