.services {
    padding-bottom: 150px;

    &::after {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &__title {
        margin-bottom: 100px;
    }

    &__table {
        position: relative;
        border-color: $border;
        border-collapse: collapse;
        z-index: 3;
    }

    &__table-item {
        padding: 10px;
        text-align: center;
        position: relative;
        width: 480px;
        height: 406px;

        span {
            display: block;
        }
    }

    &__table-decor {
        width: 300px;
        height: 240px;
        object-fit: cover;
        margin: 0 auto 50px;
    }

    &__table-text {
        height: 75px;

        p {
            font-weight: 600;
            font-size: 28px;
            line-height: 37px;
        }
    }
}