<section class="about">
    <div class="container">

        <h3 class="about__title title">
            About us
        </h3>
        <div class="about__box">
            <div class="about__text">
                <p>
                    We are a Shopify agency specializing in creating custom e-commerce stores for businesses of all
                    sizes. Our team of experts works closely with clients to understand their goals and develop tailored
                    solutions. We're passionate about helping businesses succeed in the ever-evolving world of
                    e-commerce and delivering exceptional service every step of the way. Thank you for considering our
                    agency for your e-commerce needs.
                </p>
            </div>

            <button class="about__button button__arrow">
                read more
            </button>
        </div>
    </div>
</section>