<section class="faq">
    <div class="container">
        <h3 class="faq__title title">
            FAQ
        </h3>
        <ul class="faq__box">
            <li class="faq__item">
                <button class="faq__btn"></button>
                <p class="faq__question">How do you estimate the price for your services?</p>
            </li>
            <li class="faq__item">
                <button class="faq__btn"></button>
                <p class="faq__question">Why do you only work with Shopify?</p>
            </li>
            <li class="faq__item">
                <button class="faq__btn"></button>
                <p class="faq__question">Can I run the store on Shopify by myself once development is complete?</p>
            </li>
            <li class="faq__item">
                <button class="faq__btn"></button>
                <p class="faq__question">What services do you offer?</p>
            </li>
        </ul>
    </div>
</section>