<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__content">
                <a class="footer__logo" href="">
                    <img src="images/logo-bg.svg" alt="Logo of company">
                </a>
                <div class="footer__box">
                    <div class="footer__info">
                        <div class="footer__icons">
                            <a class="footer__icons-item social__icons social__icons--inst" href="#"></a>
                            <a class="footer__icons-item social__icons social__icons--up" href="#"></a>
                        </div>
                        <a class="footer__author" href="#">
                            Website was developed by: Another IT
                        </a>
                    </div>
                    <div class="footer__sub">
                        <div class="footer__location">
                            <a class="footer__location-item"
                                href="https://www.google.com/maps/place/421+Tower+Heights+Dr,+Port+Stanley,+ON+N5L+1G2,+%D0%9A%D0%B0%D0%BD%D0%B0%D0%B4%D0%B0/@42.6636686,-81.2251944,17z/data=!3m1!4b1!4m6!3m5!1s0x882e4315f7cad24f:0xe4ad92b05e02fe13!8m2!3d42.6636686!4d-81.2251944!16s%2Fg%2F11c4t_jyh3"
                                target="_blank">Canada
                                <span>
                                    421 Tower Heights Dr, Port Stanley, ON, Canada
                                </span>
                            </a>
                        </div>
                        <span class="footer__sub-item">
                            copyright © 2023 - Malovv Agency
                            <span>
                                All right reserved
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="footer__conection">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Services</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Blog</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">FAQ</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Portfolio</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Contacts</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Careers</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__contacts">
                    <ul class="footer__contacts-menu">
                        <li class="footer__contacts-item">
                            <span class="footer__contacts-title">Contacts</span>
                            <a class="footer__contacts-link" href="mailto:hello@malovv.com">hello@malovv.com</a>
                            <a class="footer__contacts-link" href="tel:18886668888">1-888-666-8888</a>
                        </li>
                        <li class="footer__contacts-item">
                            <span class="footer__contacts-title">Working hours</span>
                            <a class="footer__contacts-link" href="#">9:00-21:00</a>
                        </li>
                    </ul>
                    <a class="footer__contacts-btn" href="#">privacy policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>