<section class="form-help">
    <div class="container">
        <h3 class=" form-help__title title">
            Need help?
        </h3>

        <form class="form-help__form" id="form">
            <div class="form-help__form-box">
                <label class="form-help__form-name" for="client">
                    <input class="form-help__form-side" type="text" name="client" id="client"
                        placeholder="First name, Last name">
                </label>
                <label class="form-help__form-name" for="mail">
                    <input class="form-help__form-side" type="e-mail" name="mail" id="mail" placeholder="E-mail">
                </label>
                <label class="form-help__form-name" for="link">
                    <input class="form-help__form-side" type="text" name="link" id="link"
                        placeholder="Website (optional)">
                </label>
                <label class="form-help__form-name" for="question">
                    <input class="form-help__form-side" type="text" name="question" id="question"
                        placeholder="Tell us more">
                </label>
            </div>
            <div class="form-help__buttons">
                <button class="form-help__submit button__arrow" type="submit">Send</button>
                <label class="form-help__privacy" for="call">
                    <input class="form-help__variant" type="checkbox" id="call" name="call" required>
                    <span class="form-help__checkbox"></span>
                    privacy policy
                </label>
                <p class="form-help__danger" id="danger">Incorrect field value! Try again!</p>
            </div>
        </form>
    </div>
</section>