<header class="header">
    <div class="container">
        <div class="header__absolute">
            <div class="header__box">
                <div class="header__center-fix">
                    <a class="header__logo" href="index.html">
                        <img src="images/logo.svg" alt="Logo of company">
                    </a>
                    <nav class="header__menu">
                        <ul class="header__menu-list">
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="portfolio.html">
                                    Portfolio
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link scroll" href="#contact">
                                    Contacts
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="services.html">
                                    Services
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="blog.html">
                                    Blog
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="careers.html">
                                    Careers
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <a class="header__button hover__btn"
                        href="https://calendly.com/hello-malovv/free-ecommerce-consultation-malovv" target="_blank">
                        Book a free consultation
                    </a>

                    <button class="header-mobile__open tab-btn" data-tab="#tab_1">
                        <span></span>
                        <span class="sr-only">Button open mobile menu</span>
                    </button>
                </div>
            </div>

            <div class="header-mobile tab-item lock-body" id="tab_1">
                <div class="header-mobile__top">
                    <img class="header-mobile__logo" src="images/logo.svg" alt="Logo of company">
                    <button class="header-mobile__close close-tab-btn">
                        <span class="sr-only">Button close mobile menu</span>
                    </button>
                </div>
                <nav class="header-mobile__navigation">
                    <ul class="header-mobile__list">
                        <li class="header-mobile__item">
                            <a class="header-mobile__link " href="services.html">
                                Services
                            </a>
                        </li>
                        <li class="header-mobile__item">
                            <a class="header-mobile__link close-tab-btn scroll" href="#contact">
                                Contacts
                            </a>
                        </li>
                        <li class="header-mobile__item">
                            <a class="header-mobile__link" href="portfolio.html">
                                Portfolio
                            </a>
                        </li>
                        <li class="header-mobile__item">
                            <a class="header-mobile__link" href="blog.html">
                                Blog
                            </a>
                        </li>
                        <li class="header-mobile__item">
                            <a class="header-mobile__link close-tab-btn" href="careers.html">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="header-mobile__bottom">
                    <div class="header-mobile__bottom-box">
                        <a class="header-mobile__social social__icons social__icons--inst" href="#" target="_blank">
                            <span class="sr-only">link to open Instagram</span>
                        </a>
                        <a class="header-mobile__social social__icons social__icons--up"
                            href="https://www.upwork.com/freelancers/~0113492577ec937949?s=1017484851352698949"
                            target="_blank">
                            <span class="sr-only">link to open Upwork</span>
                        </a>
                    </div>
                    <a class="header-mobile__connect hover__btn close-tab-btn"
                        href="https://calendly.com/hello-malovv/free-ecommerce-consultation-malovv" target="_blank">Book
                        a free consultation</a>
                </div>
            </div>
        </div>
</header>