<div class="popup-form__fixed" id="success">

    <div class="popup-form">
        <button class="popup-form__close-btn" id="close"></button>
        <img class="popup-form__logo" src="images/logo.svg" alt="Logo of company">
        <div class="popup-form__text">
            <p>
                Thank you for leaving a note. We will get back to you as soon as possible
            </p>
        </div>
        <div class="popup-form__navigation">
            <div class="popup-form__social">
                <a class="popup-form__social-icon social__icons social__icons--inst" href="#"></a>
                <a class="popup-form__social-icon social__icons social__icons--up" href="#"></a>
            </div>
            <div class="popup-form__contact">
                <span class="popup-form__title">Contacts</span>
                <a class="popup-form__mail" href="mailto:hello@malovv.com">hello@malovv.com</a>
                <a class="popup-form__number" href="tel:18886668888">1-888-666-8888</a>
            </div>
            <div class="popup-form__time">
                <span class="popup-form__title">Working hours</span>
                <div class="popup-form__time-span">
                    <span>9:00</span>-<span>21:00</span>
                </div>
            </div>
        </div>
    </div>

</div>


