<section class="services">
    <div class="container">
        <h3 class="services__title title">
            Our services
        </h3>

        <table class="services__table" border="1">
            <tr class="services__table-line">
                <td class="services__table-item">
                    <img class="services__table-img" src="images/sprite.svg#services-1" alt="Picture of a pen">
                    <div class="services__table-text">
                        <p>Custom store development</p>
                    </div>
                </td>

                <td class="services__table-item">
                    <img class="services__table-img" src="images/sprite.svg#services-2" alt="Picture of a basket">
                    <div class="services__table-text">
                        <p>Store migration to shopify</p>
                    </div>
                </td>

                <td class="services__table-item">
                    <img class="services__table-img" src="images/sprite.svg#services-3"
                        alt="Picture with the image of a radio">
                    <div class="services__table-text">
                        <p>Theme troubleshooting</p>
                    </div>
                </td>
            </tr>
            
            <tr class="services__table-line__second">
                <td class="services__table-item">
                    <img class="services__table-img" src="images/sprite.svg#services-4"
                        alt="Picture with the image of Optimization">
                    <div class="services__table-text">
                        <p>Store optimization</p>
                    </div>
                </td>
                <td class="services__table-item">
                    <img class="services__table-img" src="images/sprite.svg#services-5" alt="Picture of a computer">
                    <div class="services__table-text">
                        <p>
                            Shopify POS hardware setup
                            <span>(in person or virtual)</span>
                        </p>
                    </div>
                </td>
                <td class="services__table-item">
                    <img class="services__table-img" src="images/sprite.svg#services-6" alt="A picture of a gear">
                    <div class="services__table-text">
                        <p>Store maintenance</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>