<section class="works">
    <div class="container">
        <h3 class="works__title title">Portfolio</h3>
        <ul class="works__list">
            <li class="works__list-item">
                <span class="works__list-name">Talluah’s Story</span>
                <img class="works__list-img" src="" alt="a picture of the company's work">
                <span class="works__list-number"></span>
            </li>
            <li class="works__list-item">
                <span class="works__list-name">mEYEspa</span>
                <img class="works__list-img" src="" alt="a picture of the company's work">
                <span class="works__list-number"></span>
            </li>
            <li class="works__list-item">
                <span class="works__list-name">mEYEspa</span>
                <img class="works__list-img" src="" alt="a picture of the company's work">
                <span class="works__list-number"></span>
            </li>
        </ul>

        <a class="works__btn" href="#"></a>
    </div>
</section>