.breadcrumbs {
    margin-bottom: 40px;
    padding-top: 115px;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(60vh - 114px);
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 500px 200px;

        @include mxw($md) {
            background-size: 190px 65px;
            height: calc(40vh - 114px);
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        transform: translateY(90px);

        @include mxw($md) {
            transform: translateY(50px);
        }
    }

    &__item {
        padding-right: 40px;
        position: relative;

        &:first-child {
            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 8px;
                right: 10px;
                top: 12px;
                background-image: url('../images/sprite.svg#breadcrumbs-btn');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        &:last-child {
            padding-right: 0;
        }

        @include mxw($xs) {
            &:first-child {
                &::after {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 6px;
                    right: 13px;
                    top: 6px;

                }
            }
        }
    }
}