.about {
    padding-bottom: 150px;
    position: relative;

    @include mxw($sm) {
        padding-bottom: 100px;
    }

    @include mxw($xs) {
        padding-bottom: 50px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 15px;
    }

    &__button {
        color: $text;
        margin-bottom: 20px;

        &.active::after {
            transform: translateX(0);

            @include mxw($sm) {
                transform: translateX(-60px);
            }

        }
    }

    &__content {
        position: absolute;
        max-width: 100%;
        z-index: 10;
        transform: translateX(-200%);

        &.active {
            transform: translateX(0);
        }
    }

    &__content-text {
        background-color: $white;
        padding: 10px 0;
        p {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        @include mxw($sm) {
            padding:10px 10px 10px 0;
        }


    }
}