.about {
    padding-bottom: 150px;

    @include mxw($sm) {
        padding-bottom: 90px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 15px;

        p {
            @include mxw($sm) {
                font-size: 16px;
                line-height: 18px;
            }
            @include mxw($xs) {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    &__button {
        margin-bottom: 20px;

        &.active::after {
            transform: translateX(0);
        }
    }

    &__content {
        max-width: 100%;
        transform: translateX(-200%);

        &.active {
            transform: translateX(0);
        }
    }

    &__content-text {

        p {
            margin-bottom: 20px;
            @include mxw($sm) {
                font-size: 16px;
                line-height: 18px;
            }
            @include mxw($xs) {
                font-size: 12px;
                line-height: 15px;
            }
        }


    }
}