.contacts {
    padding-top: 150px;
    padding-bottom: 150px;

    @include mxw($sm) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @include mxw($xs) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__title {
        margin-bottom: 120px;

        @include mxw($sm) {
            margin-bottom: 50px;
        }

        @include mxw($xs) {
            margin-bottom: 30px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__content {
        max-width: 1167px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-right: 1px;

        @include mxw($vlg) {
            margin-bottom: 40px;
            justify-content: flex-end;
        }

        @include mxw($md) {
            justify-content: center;
        }
    }

    &__info {
        max-width: 653px;
        width: 100%;
        margin-right: 20px;

        @include mxw($vlg) {
            max-width: 100%;
            order: 1;
            display: flex;
            flex-direction: column-reverse;
            margin-right: 0;
        }
    }

    &__decoration {
        width: 100%;
        display: block;
        position: relative;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;

        &::after {
            content: '';
            position: absolute;
            width: 350px;
            height: 8px;
            right: 100px;
            top: 5px;
            background-image: url('../images/sprite.svg#contact-arrow');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @include mxw($vlg) {
                width: 154px;
                height: 18px;
                right: 28px;
            }

            @include mxw($md) {
                display: none;
            }
        }

        @include mxw($vlg) {
            max-width: 345px;
        }

        @include mxw($xs) {
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__text {
        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        margin-bottom: 80px;

        @include mxw($vlg) {
            margin-bottom: 30px;
        }
    }

    &__form {
        max-width: 480px;
        width: 100%;

        @include mxw($vlg) {
            order: 3;
            transform: translateY(-60px);
        }

        @include mxw($md) {
            order: 2;
            transform: translateY(0);
            margin-bottom: 30px;
        }
    }

    &__form-name {
        display: block;
        margin-bottom: 45px;


        &:last-of-type {
            margin-bottom: 35px;

            .contacts__form-side {
                width: 100%;
            }
        }

        @include mxw($xs) {
            margin-bottom: 27px;
        }


    }

    &__form-side {
        display: block;
        width: 90%;
        border-bottom: 1px solid $border;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        &::placeholder {
            opacity: 0.5;
        }

        @include mxw($xs) {
            font-size: 10px;
            line-height: 12px;
        }
    }

    &__services {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-right: 25px;

        @include mxw($xs) {
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__services-btn {
        position: relative;
        width: 38px;
        height: 38px;
        background-color: $accent;
        border-radius: 50%;
        margin-bottom: 35px;
        transform: translateY(-5px);
        box-shadow: 0px 0px 191.52px $accent,
            0px 0px 109.44px $accent,
            0px 0px 63.84px $accent,
            0px 0px 31.92px $accent,
            0px 0px 9.12px $accent,
            0px 0px 4.56px $accent;
        transition: .5s transform;


        &::after {
            content: '';
            position: absolute;
            height: 22px;
            width: 6px;
            top: 9px;
            left: 16px;
            background-image: url('../images/sprite.svg#services-arrow');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &.active {
            transform: translateY(-5px) rotate(180deg);
        }

        @include mxw($xs) {
            margin-bottom: 30px;
        }
    }

    &__filter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }

    &__item {
        display: inline-block;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;

        span {
            display: block;
        }

        @include mxw($xs) {
            font-size: 11px;
            line-height: 13px;
        }
    }

    &__variant {
        @extend %radio-hidden;

        &:checked {
            &+.contacts__checkbox {

                &::after {
                    content: '';
                    opacity: 1;
                }
            }
        }
    }

    &__checkbox {
        position: relative;
        width: 16px;
        height: 16px;
        cursor: pointer;
        border: 1px solid $border;
        margin-right: 10px;
        transition: box-shadow .5s linear;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $border;
            opacity: 0;
            transition: opacity .5s ease-in-out;
        }
    }

    &__btn {
        position: relative;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__submit {
        color: $text;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-right: 30px;

        &:hover::after {
            transform: translateX(-60px);
        }

        @include mxw($xs) {
            font-size: 12px;
            line-height: 15px;

            &:hover::after {
                transform: translateX(-90px);
            }
        }
    }

    &__privacy {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
        margin-bottom: 5px;

        @include mxw($xs) {
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__danger {
        position: absolute;
        display: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: red;
        top: 90px;
        right: 5px;

        @include mxw($md) {
            right: 5px;
            top: 28px;
            font-size: 14px;
        }
    }

    &__location {
        display: flex;
        width: 100%;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;

        @include mxw($vlg) {
            order: 2;
            max-width: 345px;
            display: flex;
            flex-direction: column;
        }

        @include mxw($md) {
            flex-direction: row;
            justify-content: space-between;
            max-width: 100%;
        }
    }

    &__location-card {
        margin-right: 100px;

        &:last-child {
            margin-right: 0;
        }

        @include mxw($vlg) {
            margin: 0 0 40px 0;
        }

        @include mxw($sm) {
            margin: 0 40px 0 0;
        }

    }

    &__text-title,
    &__location-title {
        display: block;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 15px;

        @include mxw($sm) {
            font-size: 16px;
            line-height: 19px;
        }

        @include mxw($xs) {
            font-size: 13px;
            line-height: 16px;
            width: 92px;
        }
    }

    &__location-link {
        display: block;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $border;

        @include mxw($sm) {
            font-size: 17px;
            line-height: 20px;
        }

        @include mxw($xs) {
            font-size: 11px;
            line-height: 13px;
        }
    }

    &__inst {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: url('../images/sprite.svg#inst-contact');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include mxw($xs) {
            width: 21px;
            height: 21px;
        }
    }

    &__us {
        max-width: 250px;
        width: 100%;
        border-left: 1px solid $border;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include mxw($vlg) {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            text-align: center;
            padding-top: 13px;
            max-width: 100%;
            border-left: transparent;
            border-top: 2px solid $border;
        }
    }

    &__text-title {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 3px;
            height: 45px;
            left: -22px;
            top: -8px;
            background-color: $accent;
            box-shadow: 0px 0px 173.88px #5CB1FF,
                0px 0px 99.36px #5CB1FF,
                0px 0px 57.96px #5CB1FF,
                0px 0px 28.98px #5CB1FF,
                0px 0px 8.28px #5CB1FF,
                0px 0px 4.14px #5CB1FF;

            @include mxw($vlg) {
                top: -35px;
                left: 50%;
                transform: rotate(90deg) translateX(-50%);
            }
        }
    }

    &__connect {
        padding-left: 20px;

        @include mxw($vlg) {
            padding-left: 0;

            &:nth-child(1) {
                order: 1;
                text-align: left;

                .contacts__text-title {
                    &::after {
                        left: 22px;
                    }
                }
            }

            &:nth-child(2) {
                order: 3;
                text-align: right;

                .contacts__text-title {
                    &::after {
                        left: 70px;
                    }
                }
            }

            &:nth-child(3) {
                order: 2;
            }

        }
    }

    &__link,
    &__time {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $border;
        margin-bottom: 7px;

        &:last-child {
            margin-bottom: 0;
        }

        @include mxw($xs) {
            font-size: 11px;
            line-height: 13px;
        }
    }

    &__icons-box {
        display: flex;
        align-items: center;

        a {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__social {
        display: inline-block;
        width: 43px;
        height: 43px;
        background-image: url('../images/sprite.svg#contacts-up');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include mxw($xs) {
            width: 30px;
            height: 30px;
        }
    }
}