.services {
    padding-bottom: 150px;
    overflow: hidden;

    @include mxw($sm) {
        padding-bottom: 100px;
    }

    @include mxw($xs) {
        padding-bottom: 50px;
    }

    &::after {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &__title {
        margin-bottom: 100px;

        @include mxw($sm) {
            margin-bottom: 50px;
        }

        @include mxw($xs) {
            margin-bottom: 30px;
        }
    }

    &__table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid $border;
        position: relative;
        margin-bottom: 50px;

        &::after {
            right: 0;
            transform: translateX(400px);
            top: 100px;

            @include mxw($xs) {
                transform: translateX(100px);
                border: transparent;
            }
        }

        @include mxw($sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mxw($xs) {
            border: transparent;
            border-top: 1px solid $border;
            border-left: 1px solid $border;
            border-bottom: 1px solid $border;

            &::after{
                display: none;
                // top: 50px;
                // min-height: 200px;
            }
        }
    }


    &__table-item {
        z-index: 3;
        padding: 10px;
        text-align: center;
        position: relative;
        max-width: 480px;
        min-height: 406px;
        border: 1px solid $border;

        span {
            display: block;

            @include mxw($xs) {
                display: contents;
            }
        }

        @include mxw($lg) {
            min-height: 335px;
        }

        @include mxw($md) {
            min-height: 250px;
        }

        @include mxw($xs) {
            min-height: 200px;
            border: transparent;

            &:nth-child(1) {
                border-right: 1px solid $border;
            }

            &:nth-child(2) {
                border-right: 1px solid $border;
            }

            &:nth-child(3) {
                border-top: 1px solid $border;
                border-right: 1px solid $border;
            }

            &:nth-child(4) {
                border-top: 1px solid $border;
                border-right: 1px solid $border;
            }

            &:nth-child(5) {
                border-top: 1px solid $border;
                border-right: 1px solid $border;

            }

            &:nth-child(6) {
                border-top: 1px solid $border;
                border-right: 1px solid $border;

            }
        }
    }

    &__table-decor {
        width: 300px;
        height: 240px;
        object-fit: cover;
        margin: 0 auto 50px;

        @include mxw($lg) {
            width: 250px;
            height: 175px;
        }

        @include mxw($md) {
            width: 160px;
            height: 160px;
            margin: 0 auto 30px;
        }

        @include mxw($xs) {
            width: 120px;
            height: 120px;
            margin: 0 auto 20px;
        }

    }

    &__table-text {
        p {
            @include line-clamp(3);
            word-break: normal;
            min-height: 74px;
            font-weight: 600;
            font-size: 28px;
            line-height: 37px;

            @include mxw($lg) {
                font-size: 20px;
            }

            @include mxw($md) {
                min-height: 40px;
                font-size: 16px;
                line-height: 20px;
            }

            @include mxw($xs) {
                font-size: 12px;
                line-height: 15px;
                min-height: 30px;
            }
        }
    }

    &__btn-more {
        display: inline-block;
        z-index: 1;
        position: relative;
        overflow: hidden;
        padding: 15px 41px;
        font-size: 16px;
        color: $border;
        background-color: transparent;
        border: 1px solid $border;
        transition: all 0.3s ease-in;

        &::after {
            content: "";
            position: absolute;
            left: 55%;
            transform: translateX(-50%) scaleY(1) scaleX(1.45);
            top: 180%;
            width: 160%;
            height: 190%;
            background-color: $border;
            border-radius: 50%;
            display: block;
            transition: all 0.4s 0.2s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }

        &:hover {
            color: $white;
            border: 1px solid $white;
        }

        &:hover::after {
            top: -45%;
            background-color: $border;
        }

        @include mxw($sm) {
            padding: 9px 24px;
        }
    }
}