.works {
    padding-bottom: 150px;

    @include mxw($sm) {
        padding-bottom: 100px;
    }

    @include mxw($xs) {
        padding-bottom: 80px;
    }

    &__title {
        margin-bottom: 90px;

        @include mxw($sm) {
            margin-bottom: 50px;
        }

        @include mxw($xs) {
            margin-bottom: 30px;
        }
    }

    &__list {
        display: grid;
        margin: 0 auto 100px;
        grid-template-columns: repeat(3, 1fr);

        max-width: 1170px;

        @include mxw($lg) {
            max-width: 930px;
            grid-column-gap: 35px;
        }

        @include mxw($sm) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 50px;
        }

        @include mxw($xs) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 0;
            max-width: 360px;
        }
    }

    &__list-item {
        position: relative;
        display: flex;
        justify-content: center;

        &:nth-child(2) {
            transform: translateY(80px);

            @include mxw($sm) {
                transform: translateY(120px);
            }
        }

        &:nth-child(3) {
            transform: translateY(160px);

            @include mxw($sm) {
                transform: translateY(70px);
            }
        }
    }

    &__list-name {
        position: absolute;
        left: 0;
        top: 0;
        writing-mode: vertical-lr;

        @include mxw($md) {
            left: -20px;
        }

        @include mxw($sm) {
            left: -10px;
        }

        @include mxw($xs) {
            font-size: 13px;
            line-height: 16px;
            left: 0;
        }
    }

    &__list-link { 
        img {
            width: 290px;
            height: 566px;
            border-radius: 30px;
            box-shadow: -92px 215px 94px rgba(0, 0, 0, 0.01),
                -52px 121px 79px rgba(0, 0, 0, 0.05),
                -23px 54px 59px rgba(0, 0, 0, 0.09),
                -6px 13px 32px rgba(0, 0, 0, 0.1),
                0px 0px 0px rgba(0, 0, 0, 0.1);
            object-fit: cover;
            cursor: pointer;
    
            @include mxw($lg) {
                width: 218px;
                height: 426px;
            }
    
            @include mxw($xs) {
                width: 116px;
                height: 227px;
                border-radius: 10px;
            }
        }
    }

    &__list-number {
        position: absolute;
        right: 10px;
        bottom: -30px;
        font-size: 120px;
        line-height: 86px;
        font-weight: 900;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 3px $text;



        @include mxw($md) {
            font-size: 90px;
            right: -10px;
        }

        @include mxw($sm) {
            font-size: 70px;
            right: 0px;
        }

        @include mxw($xs) {
            display: none;
            font-size: 70px;
            right: 0px;
        }
    }

    &__button-box {
        @include mxw($sm) {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__btn {
        display: inline-block;
        transform: translateX(150px);
        z-index: 1;
        position: relative;
        overflow: hidden;
        padding: 15px 41px;
        font-size: 16px;
        color: $border;
        background-color: transparent;
        border: 1px solid $border;
        transition: all 0.5s ease-in;

        &::after {
            content: "";
            position: absolute;
            left: 55%;
            transform: translateX(-50%) scaleY(1) scaleX(1.45);
            top: 180%;
            width: 160%;
            height: 190%;
            background-color: $border;
            border-radius: 50%;
            display: block;
            transition: all 0.8s 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }

        &:hover {
            color: $white;
            border: 1px solid $white;
        }

        &:hover::after {
            top: -45%;
            background-color: $border;
        }

        @include mxw($sm) {
            transform: translate(-90px, -120px);
        }

        @include mxw($xs) {
            font-size: 12px;
            line-height: 15px;
            padding: 9px 28px;
            transform: translate(-20px, -20px);
        }
    }
}